/* raleway-regular - latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/raleway-v18-latin-regular.eot"); /* IE9 Compat Modes */
  src:
    url("../fonts/raleway-v18-latin-regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/raleway-v18-latin-regular.woff2") format("woff2"), /* Super Modern Browsers */
    url("../fonts/raleway-v18-latin-regular.woff") format("woff"), /* Modern Browsers */
    url("../fonts/raleway-v18-latin-regular.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/raleway-v18-latin-regular.svg#Raleway") format("svg"); /* Legacy iOS */
}

body {
  max-width: 1440px;
  margin: auto;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  list-style-type: none;
}

section {
  padding: 2% 0 0 0;
  margin: 2% 0 0 0;
}

section > header {
  height: 3em;
  padding: 2% 0 0 2%;
  font-size: 1.33em;
}

.column-margin {
  margin-right: 2%;
  margin-left: 2%;
}

#populaire,
footer {
  background-color: #f2f2f2;
}

#topnav,
#topnav div,
#mainrow,
.card-desk,
#mainfooter {
  display: flex;
  flex-wrap: wrap;
}

#topnav {
  margin-top: 50px;
}

.push {
  margin-left: auto;
}

.card-desk {
  gap: 30px 30px;
  align-items: center;
  justify-content: center;
}

.card {
  padding: 0.75%;
  background-color: white;
  border-radius: 5%;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.08);
}

.card header,
.card p {
  padding-top: 5%;
  padding-left: 5%;
  font-size: 0.9em;
}

p.espace {
  padding: 0 0 0 5% !important;
  margin: 0.5em 0 0 0 !important;
}

img {
  object-fit: cover;
  width: 100%;
  height: auto;
  max-height: 120px;
  border-top-left-radius: 5%;
}

#populaire {
  order: -1;
}

#populaire .card {
  display: flex;
  width: 100%;
}

#populaire img {
  width: 33.33%;
  max-height: 140px;
  border-bottom-left-radius: 5%;
}

#hebergement img,
#activite img {
  border-top-right-radius: 5%;
}

#mainfooter {
  padding-right: 5%;
  padding-left: 5%;
}

input[type=button] {
  font-size: 1.1em;
  font-weight: bold;
}

input[type=button].recherche {
  padding: 15px;
  color: white;
  background-color: #0065fc;
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 15px;
}

#filtres input[type=checkbox] {
  display: none;
}

#filtres span {
  display: inline-block;
  padding: 12px;
  font-size: 1.1em;
  font-weight: bold;
  color: black;
  background-color: white;
  border: 1px solid gainsboro;
  border-radius: 50px;
}

#filtres input[type="checkbox"]:checked + span {
  color: white;
  background-color: #0065fc;
}

@media only screen and (min-width: 992px) {
  img {
    width: 220px;
    height: 115px;
  }

  #hebergement {
    order: 0;
    width: 65.16%;
    margin-right: 1.5%;
    background-color: #f2f2f2;
    border-radius: 5%;
  }

  #populaire {
    order: 1;
    width: 31.83%;
    margin-left: 1.5%;
    border-radius: 5%;
  }

  #populaire .card {
    width: 90%;
    height: 150px;
  }

  #populaire img {
    height: 140px;
  }

  #activite .card-desk {
    align-items: end;
    justify-content: space-between;
  }

  #activite img {
    width: 268px;
    height: 138px;
    max-height: 300px;
  }

  #activite img.long {
    height: 300px;
  }

  #mainfooter {
    padding-right: 2%;
    padding-left: 2%;
  }
}
