/* raleway-regular - latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/raleway-v18-latin-regular.eot"); /* IE9 Compat Modes */
  src:
    url("../fonts/raleway-v18-latin-regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/raleway-v18-latin-regular.woff2") format("woff2"), /* Super Modern Browsers */
    url("../fonts/raleway-v18-latin-regular.woff") format("woff"), /* Modern Browsers */
    url("../fonts/raleway-v18-latin-regular.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/raleway-v18-latin-regular.svg#Raleway") format("svg"); /* Legacy iOS */
}

body {
  max-width: 1440px;
  margin: auto;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

ul {
  padding: 0;
  list-style-type: none;
}

section {
  padding: 2% 0 0 0;
  margin: 2% 0 0 0;
}

h1 {
  font-size: 1.33em;
}

h2 {
  height: 3em;
  padding: 2% 0 0 2%;
  font-size: 1.33em;
}

form {
  margin-bottom: 1.5em;
}

.column-margin {
  margin-right: 2%;
  margin-left: 2%;
}

img {
  object-fit: cover;
  width: 100%;
  border-top-left-radius: 5%;
}

.visually-hidden {
  position: absolute;
  top: auto;
  left: -10000px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

#populaire,
footer {
  background-color: #f2f2f2;
}

#topnav,
#mainrow,
#information,
.flex-header,
.card-desk,
#mainfooter {
  display: flex;
  flex-wrap: wrap;
}

#topnav {
  justify-content: space-between;
  height: 5em;
}

#topnav img {
  max-width: 100px;
  object-fit: contain;
}

.signin {
  display: flex;
  flex-direction: column;
}

.navigate {
  display: flex;
  align-self: flex-end;
  justify-content: space-around;
  width: 100%;
}

.signin > a,
.navigate > a {
  font-weight: bold;
  color: #0065fc;
}

.navigate > a {
  color: black;
}

.flex-header a {
  font-size: 1.33em;
}

h1.accroche {
  margin-top: 2em;
  margin-bottom: 0;
}

p.accroche-secondaire {
  margin-top: 0.5em;
}

.card-desk {
  gap: 30px 30px;
  align-items: center;
  justify-content: center;
}

.card {
  padding: 0.75%;
  background-color: white;
  border-radius: 5%;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.08);
}

.card h3,
.card p {
  padding-top: 5%;
  padding-left: 5%;
  font-size: 0.9em;
}

p.espace {
  padding: 0 0 0 5% !important;
  margin: 0.5em 0 0 0 !important;
}

p.espace i {
  padding-bottom: 20px;
}

.blue-star {
  color: #0065fc;
}

.grey-star {
  color: #f2f2f2;
}

#populaire {
  order: -1;
}

.flex-header {
  align-items: baseline;
  justify-content: space-between;
  width: 90%;
}

#populaire .card-desk a {
  width: 100%;
}

#populaire .card {
  display: flex;
  width: 100%;
  height: 150px;
}

#populaire img {
  width: 33.33%;
  border-bottom-left-radius: 5%;
}

.populaires-card-content {
  display: flex;
  flex-direction: column;
}

p.bottom {
  margin-top: auto;
  margin-bottom: auto;
}

.see-more {
  height: 4em;
  padding: 5% 0 0 8%;
  font-size: 1.1em;
  font-weight: bold;
}

#hebergement img,
#activite img {
  border-top-right-radius: 5%;
}

#hebergement img {
  max-height: 250px;
}

#mainfooter {
  gap: 30px 30px;
  justify-content: flex-start;
  padding: 1em 5% 10em;
  margin-top: 3em;
}

#mainfooter ul {
  min-width: 22%;
  margin: 2em;
}

#mainfooter li:first-child {
  padding-bottom: 1em;
  font-weight: bold;
}

#mainfooter li:nth-child(n+2) {
  line-height: 2em;
}

#filtres {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  font-size: 1.1em;
  font-weight: bold;
}

#filtres input[type=checkbox] {
  display: none;
}

#filtres span,
#filtres i {
  display: inline-block;
  line-height: 1.8em;
}

#filtres span {
  padding-right: 1em;
  margin: 0.75em;
  color: black;
  cursor: pointer;
  background-color: white;
  border: gainsboro solid 0.1em;
  border-radius: 50px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.08);
}

#filtres i {
  width: 2em;
  padding: 0.25em;
  margin-right: 0.75em;
  margin-left: -0.1em;
  color: #0065fc;
  text-align: center;
  background-color: #deebff;
  border: #deebff solid 0.1em;
  border-radius: 50px;
}

#filtres input[type="checkbox"]:hover + span {
  color: white;
  background-color: #0065fc;
}

#filtres input[type="checkbox"]:checked + span {
  color: white;
  background-color: #0065fc;
}

#information {
  flex-wrap: nowrap;
}

.icon-information {
  width: 1em;
  height: 1em;
  padding: 0.3em;
  margin-right: 1em;
  font-size: 0.8em;
  color: #0065fc;
  text-align: center;
  border: gainsboro solid 0.1em;
  border-radius: 50px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.08);
}

.form-container {
  display: flex;
}

button {
  cursor: pointer;
}

button.localisation {
  padding: 15px;
  font-size: 1.1em;
  border: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 15px;
}

input[type=text].rechercheText {
  width: calc(100vw / 2);
  padding: 15px;
  font-size: 1.1em;
  font-weight: bold;
  border: gainsboro solid 0.1em;
}

button.search-button::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f002";
}

button.search-button {
  padding: 15px;
  margin-left: -10px;
  font-size: 1.3em;
  color: white;
  background-color: #0065fc;
  border: none;
  border-radius: 15px 15px 15px 15px;
}

@media only screen and (max-width: 767px) {
  #topnav {
    margin-top: 2em;
  }

  .signin > a {
    padding-bottom: 20px;
  }

  .navigate > a {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid black;
  }

  .navigate > a:active {
    color: #0065fc;
    border-bottom: 1px solid #0065fc;
  }

  #activite .card-desk a,
  #activite .card-desk div,
  #hebergement .card-desk a {
    width: 100%;
  }

  #activite img {
    max-height: 250px;
  }

  h1.accroche {
    margin-top: 2em;
  }
}

@media only screen and (min-width: 768px) {
  h2 {
    height: 2em;
  }

  #topnav {
    justify-content: flex-end;
    height: 3em;
    margin-bottom: 2em;
  }

  #topnav img {
    margin-top: 25px;
  }

  .signin {
    order: 1;
  }

  .navigate {
    align-self: flex-start;
    width: auto;
    padding: 0;
    margin-left: auto;
    border: none;
  }

  .signin > a,
  .navigate > a {
    padding-top: 30px;
    margin: 0 2em 0 2em;
  }

  .navigate > a:hover {
    border-top: 1px solid #0065fc;
  }

  .navigate > a:active {
    color: #0065fc;
    border-top: 1px solid #0065fc;
  }

  input[type=text].rechercheText {
    width: calc(100vw / 4);
  }

  button.search-button::before {
    content: "Rechercher";
  }

  button.search-button {
    border-radius: 0 15px 15px 0;
  }

  #hebergement {
    order: 0;
    width: 65.16%;
    margin-right: 1.5%;
    background-color: #f2f2f2;
    border-radius: 5%;
  }

  #hebergement .card-desk {
    gap: 0;
  }

  #hebergement .card {
    width: 270px;
    height: 260px;
    margin: 10px;
  }

  #hebergement img {
    height: 150px;
  }

  #hebergement h2 {
    padding: 4% 0 0 4%;
  }

  #hebergement h3 {
    padding-top: 0;
  }

  #hebergement .see-more {
    padding: 5% 0 0 4%;
  }

  #populaire {
    order: 1;
    width: 31.83%;
    margin-left: 1.5%;
    border-radius: 5%;
  }

  #populaire .card {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
  }

  #populaire img {
    height: auto;
  }

  #populaire h2 {
    padding: 2% 0 0 6%;
  }

  #activite .card-desk {
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  #activite .card {
    width: auto;
    height: 280px;
    padding: 0;
    margin: 5px;
  }

  #activite .card.long {
    width: auto;
    height: 560px;
  }

  #activite img {
    height: 220px;
  }

  #activite img.picture-long {
    height: 500px;
  }

  #mainfooter {
    padding-right: 2%;
    padding-left: 2%;
  }
}
